<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>

    <img src="/demo/man01.png" class="rounded-circle img-thumbnail">
    <h5>Name</h5>
    <p>
        <i class="fa fa-map-marker" aria-hidden="true"></i> New Jersey, USA.</p>

    <hr>
    <a href="#" class="btn btn-success btn-sm">Follow</a>
    <a href="#" class="btn btn-info btn-sm">Upload Image</a>

    <hr>
    <span>Lorem ips consectetur adipisium ,eiusmod tempor incididuin reprehendeanim.</span>

</body>
<style>
    body {
        background: #EFF7FE;
        padding-top: 15px;
}
</style>

</html>